<div class="w-100 text-center mt-4 mb-2">
  <h1 class="experiencia">Experiencia profesional</h1>
</div>
<div class="container py-5"> 
  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        @for (exp of experiencias; track exp.empresa; let i = $index) {
          @if (showYear(exp.fecha)) {
          <div class="timeline-year">
           <span> {{ exp.fecha | date:'yyyy' }}</span>
            </div>
          }
          
          @if(i % 2 === 0){
            <div class="timeline-item left" (click)="descripcion(exp)">
              <div class="timeline-content">
               <p><strong>{{exp.empresa}}-{{exp.cliente}}</strong></p>
               <p class="w-100">{{exp.cargo}}</p>
              
               </div>
        </div>
          }@else{
             <div class="timeline-item right" (click)="descripcion(exp)">
          <div class="timeline-content">
            <p><strong>{{exp.empresa}}-{{exp.cliente}}</strong></p>
            
            <p class="w-100">{{exp.cargo}}</p>
          
          </div>
        </div>
          }
        

       
      }
      </div>
    </div>
  </div>
</div>















