.bocadillo{
    background-color: #cfd2d5; 
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    display: inline-block;         /* Se ajusta al contenido */
    min-width: 400px;   /* 🔹 más largo mínimo */
  max-width: 90%;         /* Tamaño mínimo */
}