<article class="card bg-transparent border-1 p-3 mb-4 sobremi-portafolio">
  <div class="card-body">
    <h1 class="card-title">Sobre mí</h1>
    <p class="card-text max-width=100px">
      Soy Mª Carmen Ñudi Monje, ingeniera técnica en informática de gestión, especializada en desarrollo de aplicaciones backend y frontend.
      Cuento con más de 14 años de experiencia trabajando con Java, Spring Boot, microservicios y desarrollo frontend con Angular, HTML, CSS y JavaScript.
      Me destaco por resolver problemas técnicos, trabajar en equipo de manera eficaz y aprender rápidamente nuevas tecnologías.
      Actualmente busco oportunidades para crecer en desarrollo full stack y aportar valor en proyectos que integren microservicios y Angular.
    </p>
  </div>
</article>