<div class="container-fluid vh-100">
  <div class="row h-1000">
    <!--Columna izquierda-->
   <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center text-center p-4 h-100">
      <!--Foto -->
     <img src="/foto.jpg" alt="Mi foto" class="rounded-circle foto-portafolio mt-5">

       <!--Botones -->
    <div class="d-flex flex-column gap-2 w-50 mt-5 mb-5">
        <button class="btn btn-celeste" (click)="mostrar('sobremi')">Sobre mí</button>
        <button class="btn btn-celeste" (click)="mostrar('experiencia')">Experiencia Profesional</button>
         <button class="btn btn-celeste" (click)="mostrar('experienciaP')">Experiencia Práctica</button>
          <button class="btn btn-celeste" (click)="mostrar('tecnologia')">Tecnologias Clave</button>
          <button class="btn btn-celeste" (click)="mostrar('formacion')">Formación</button>
      </div>

       <!--Contacto fijo-->
      <div class="mt-auto w-100 mb-5">
        <app-contacto></app-contacto>
      </div>
    </div>


    <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center text-center p-4">
      <app-nombre></app-nombre>
      
      <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center text-center p-4">
      <canvas #canvas width="1500" height="200" 
              style="display:block;"></canvas>
    </div>
    @if (icono==='test'){
    <app-testimonios></app-testimonios>
    }
    
    @else if (icono==='sobremi'){
     <div class="col-lg-6 col-md-6 col-sm-12 text-center desplazar-derecha">  
      <app-sobremi></app-sobremi>
       </div>
    }
    @else if (icono==='experiencia'){
       <div class="col-lg-6 col-md-6 col-sm-12 text-center desplazar-derecha1">
      <app-experiencia></app-experiencia>
    </div> 
    }
    @else if (icono==='formacion'){
      <app-formacion></app-formacion>
    }
     </div>
     <div class="col-lg-4 col-md-5 col d-flex justify-content-end align-items-end p-4">
      <div class="d-flex justify-content align-items">
        <a (click)="chatbox()">
          <img src="/Talking_bubble_vector_art_illustration.jpg" alt="Chatbox" width="100" height="100">
        </a>
     
      </div>
     </div>
</div>
</div>
