<div class="container ps-5">
  <div class="row m-0">
    <!--Columna izquierda-->
   <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center text-center ps-5">

       <!--Botones -->
    <div class="d-flex flex-column gap-2 ps-2">
        <button class="btn btn-celeste" (click)="mostrar('sobremi')">Sobre mí</button>
        <button class="btn btn-celeste" (click)="mostrar('experiencia')">Experiencia Profesional</button>
        <button class="btn btn-celeste" (click)="mostrar('experienciaP')">Experiencia Práctica</button>
        <button class="btn btn-celeste" (click)="mostrar('tecnologia')">Tecnologias Clave</button>
        <button class="btn btn-celeste" (click)="mostrar('formacion')">Formación</button>
        <a class="btn btn-celeste" href="/CVMCarmenNudiMonje.pdf" download>
      Descargar CV
      </a>
      </div>

       <!--Contacto fijo-->
    <div p-5>
        <app-contacto></app-contacto>
      </div>
    </div>

     </div>
   
</div>
