.btn-celeste {
  background-color: #72a8bc; /* celeste */
  /*color: white;  */           /* texto blanco */
  border: none;
  font-size: 30px; /* aumenta o reduce a tu gusto */
  font-weight: 500;
}

.btn-celeste:hover {
  background-color: #009acd; /* un celeste más oscuro al pasar el ratón */
}